<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="sidebar">
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/assets/dist/img/avatar5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Sample Name</p>
          <a href="#"><i class="fa fa-circle text-success"></i> User</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Navigation Forms</li>
        <li >
          <a href="customers">
            <i class="fa fa-files-o"></i> <span>List Customers</span>
          </a>
        </li>
        <li >
          <a href="home">
            <i class="fa fa-files-o"></i> <span>Review</span>
          </a>
        </li>
<!--        <li>-->
<!--          <a href="cargallery.html">-->
<!--            <i class="fa fa-cab"></i> <span>Car Gallery</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="rental.html">-->
<!--            <i class="fa fa-cab"></i> <span>Rental</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="payment.html">-->
<!--            <i class="fa fa-money"></i> <span>Payment</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="customercredential.html">-->
<!--            <i class="fa fa-files-o"></i> <span>Costumer Credential</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="carownercredential.html">-->
<!--            <i class="fa fa-cab"></i> <span>Car Owner Credential</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li >-->
<!--          <a href="useraccount.html">-->
<!--            <i class="fa fa-user-secret"></i> <span>User Account</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="active">-->
<!--          <a href="#">-->
<!--            <i class="fa fa-laptop"></i>-->
<!--            <span>Encoding</span>-->
<!--            <span class="pull-right-container">-->
<!--              <i class="fa fa-angle-left pull-right"></i>-->
<!--            </span>-->
<!--          </a>-->
<!--          <ul class="treeview-menu">-->
<!--            <li class="active"><a href="car.html"><i class="fa fa-circle-o"></i> Car</a></li>-->
<!--            <li><a href="customer.html"><i class="fa fa-circle-o"></i> Costumer</a></li>-->
<!--            <li><a href="carowner.html"><i class="fa fa-circle-o"></i> Car Owner</a></li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</th:block>